*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    zoom:75%;
}
.my-form{
    background-color: rgb(253,247,232);
    width:100%;
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'mediumfont';
    src: url(./fonts/Mona-Sans-Medium.ttf);
}
@font-face {
    font-family: 'regularfont';
    src: url(./fonts/Mona-Sans-Regular.ttf);
}
@font-face {
    font-family: 'lightfont';
    src: url(./fonts/Mona-Sans-Light.ttf);
}
#UI{
    font-family: 'mediumfont';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.element{
    background-color: rgb(255,255,255);
    width:500px;
    height: 620px;
    padding-inline: 24px;
    padding-block: 24px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0px 2px 4px 0px #888888;

}
.base-element{
    display: inline-flex;
}
#signform{
    font-family: 'regularfont';
    font-weight: 600;
    font-size: 18px;
}
.first-element{
    display: flex;
    justify-content: space-between;
}
#b_ack{
    font-weight: 300;
    font-size: 12px;
    margin-left: 4px;
}
p{
    line-height: 1.8;
    margin-top: 16px;
    margin-bottom: 8px;
}
#name,#name1,#name2,#name3{
  font-size: 14px;
  font-family: 'lightfont';
  font-weight: 700;
}
.form input[type=text]{
    background-color: #f1f5f6;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    padding:15px;
    border: none;
  }
  input[type=text]::placeholder{
    font-size: 10px;
    font-weight: normal;
    opacity: 0.5;
  }
  input[type=password]::placeholder{
     opacity: 0.5;
  }
  .form input[type=password]{
    background-color: #f1f5f6;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    padding:15px;
    border: none;
  }
.box{
    margin-bottom: 10px;
}
#agree{
    font-size: 10px;
}
.box a{
    text-decoration: none;
    color: black;
    font-size:12px;
}
.box a:hover{
    text-decoration: underline;
    color: blue;
}
.sm{
    display: flex;  
    justify-content: space-around;
    margin-bottom: 20px;
}   
.log{
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.log a{
    text-decoration: none;
    color: black;
    margin-left: 4px;
}
.log a:hover{
    text-decoration: underline;
    color: blue;
}
#or{
    display: flex;
    justify-content: center;
}
.btn{
    background-color: black;
    color: white;
    border: none;
    width:100%;
    padding: 10px 110px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    margin: 2px 4px;
    border-radius: 8px;
}
.btn:hover{
    background: gray;
}
.sm_btn{
    background-color: rgb(241,244,249);
    color:black;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 6px;
    cursor: pointer;
    margin: 2px 4px;
    border-radius: 8px;
}
.sm_btn:hover{
    background: lightgrey;
}
#txt,#txt1{
    font-family: 'lightfont';
    font-size: 10px;
    font-weight: 700;
}
#glg,#apl{
  margin-right: 4px;
}
.fontawesome{
    font-size: 10px;
    padding: 5px;
}
.form_chart{
    display: flex;
    flex-direction: column-reverse;
}
.chart{
    background-color: rgb(253,235,251);
    width:500px;
    height: 620px;
    padding: 40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 2px #888888;

}
.rating{
    background-color: white;
    width:210px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top:24px;
    left:150px;
    border-radius: 10px;
}
#mg{
    font-family: 'regularfont';
    font-weight: 600;
    font-size: 8px;
}
.rating p{
    font-size: 10px;
}
.ratingstar{
    color:gold;
}
#star{
    position: relative;
    top:16px;
    right:4px;
    font-size: 8px;
}
.graph{
    background-color: white;
    width:250px;
    height: 300px;
    position: relative;
    top:60px;
    left:100px;
    border-radius: 10px;
}
.growth{
    font-size: 12px;
    position: relative;
    top:70px;
    left: 30px;
}
#g1{
    float: left;
    padding-right: 10px;
}
#component{
    font-family: "lightfont";
    font-weight: 600;
    font-size: 8px;
}
.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    top:5px;
    left:12px;
  }
  #tick{
    position: relative;
    top:26px;
    right: 8px;
    font-size: 8px;
  }
  #arrow_img{
    width:30px;
    height:20px;
  }
  @media screen and (min-width:320px) and (max-width:600px){
    .form-container{
        background-color: rgb(253,247,232);
        width:100%;
        height:1300px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .my-form{
       min-width: 350px;
        height:auto;
        margin: auto;
    }
    .chart{
        display:none;
    }
  }
  @media screen and (min-width:601px) and (max-width:980px){
    .form-container{
        background-color:rgb(253,247,232);
        width:100%;
        height:1400px;
        margin: auto;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .my-form{
        min-width:601px;
        height:auto;
        margin: auto;
    }
    .chart{
        display: none;
    }
  }
  @media screen and (min-width:981px) and (max-width:1200){
    .form-container{
        background-color:rgb(253,247,232);
        width:100%;
        height:1400px;
        margin: auto;
    }
    .my-form{
        min-width:601px;
        height:auto;
        margin: auto;
    }
    .chart{
        min-width:auto;
        height: auto;
        margin: auto;
    }
  }
  @media screen and (min-width:1201){
    .form-container{
                    background-color:rgb(253,247,232);
                    width:100%;
                    height:1400px;
                    margin: 0 auto;
  }
}
@media (any-pointer:fine){
    input[type = checkbox]:checked {
        width:15px;
        height:15px;
        background:green;
    }
}