*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    zoom:75%;
}
.my-form{
    background-color: rgb(253,247,232);
    width:100%;
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'mediumfont';
    src: url(./fonts/Mona-Sans-Medium.ttf);
}
@font-face {
    font-family: 'regularfont';
    src: url(./fonts/Mona-Sans-Regular.ttf);
}
@font-face {
    font-family: 'lightfont';
    src: url(./fonts/Mona-Sans-Light.ttf);
}
#UI{
    font-family: 'mediumfont';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}
.element{
    background-color: rgb(255,255,255);
    width:500px;
    height: 700px;
    padding-inline: 72px;
    padding-top:40px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0px 2px 4px 0px #888888;

}
.base-element{
    display: inline-flex;
}
#signform{
    font-family: 'regularfont';
    font-weight: 980;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 12px;
}
.first-element{
    display: flex;
    justify-content: space-between;
}
#b_ack{
    font-weight: 300;
    font-size: 8px;
    margin-left: 8px;
}
p{
    line-height: 2;
    margin-block: 10px;
    padding-inline: 10px;
}
#name,#name1,#name2,#name3{
  font-size: 10px;
  font-family: 'lightfont';
  font-weight: 800;
}
.form input[type=text]{
    background-color:white;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    padding:14px;
    border: 1px solid lightgray;
    opacity: 0.3;
  }
  input[type=text]::placeholder{
    font-size: 12px;
    font-weight: 800;
  }
  input[type=password]::placeholder{
     font-size: 16px;
     font-weight: 800;
  }
  .form input[type=password]{
    background-color:white;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    padding:14px;
    border: 1px solid lightgray;
    opacity: 0.3;
  }

#terms{
    opacity: 0.1;
}
.box{
    padding-inline: 10px;
}
#agree{
    font-size: 8px;
    opacity:0.2;
    font-weight: 700;
}
.box a{
    text-decoration: none;
    color: black;
    font-size:10px;
}
.box a:hover{
    text-decoration: underline;
    color: blue;
}
.sm{
    display: flex;  
    justify-content: space-around;
    margin-bottom: 8px;
}   
.log{
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 48px ;
}
#acc{
    opacity: 0.4;
}
.log a{
    text-decoration: none;
    color: black;
    margin-left: 4px;
}
.log a:hover{
    text-decoration: underline;
    color: blue;
}
#or{
    display: flex;
    justify-content: center;
    opacity: 0.3;
    font-size: 8px;
    margin: 16px;
}
.btn{
    background-color: black;
    color: white;
    border: none;
    width:95%;
    padding-block: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    margin-top: 28px;
    border-radius: 8px;
}
.btn:hover{
    background: gray;
}
.sm_btn{
    background-color: rgb(241,244,249);
    color:black;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 6px;
    cursor: pointer;
    border-radius: 8px;
}
#agree{
    opacity: 0.5;
    padding-inline: 2px;
}
.sm_btn:hover{
    background: lightgrey;
}
#txt,#txt1{
    font-family: 'lightfont';
    font-size: 8px;
    font-weight: 700;
    margin-inline: 12px;
}
.form_chart{
    display: flex;
    flex-direction: column-reverse;
}
.chart{
    background-color: rgb(253,235,251);
    width:500px;
    height: 700px;
    padding-block: 100px;
    padding-inline: 20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 2px #888888;

}
.rating{
    background-color: white;
    width:220px;
    height: 54px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top:24px;
    left:150px;
    border-radius: 10px;
}
#mg{
    font-family: 'regularfont';
    font-weight: 600;
    font-size: 8px;
}
.rating p{
    font-size: 10px;
}
.ratingstar{
    color:gold;
}
#star{
    position: relative;
    top:16px;
    right:4px;
    font-size: 12px;
}
.graph{
    background-color: white;
    width:260px;
    height: 250px;
    position: relative;
    top:60px;
    left:85px;
    border-radius: 10px;
}
.growth{
    font-size: 12px;
    border-top: 1px solid;
    margin-top: 20px;
    padding: 10px;

}
#g1{
    float: left;
    padding-right: 10px;
}
#component{
    font-family: "lightfont";
    font-weight: 600;
    font-size: 8px;
}
.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    top:8px;
    left:12px;
  }
  #tick{
    position: relative;
    top:30px;
    right: 2px;
    font-size: 8px;
  }
  #arrow_img{
    width:30px;
    height:20px;
  }
  @media screen and (min-width:320px) and (max-width:600px){
    .form-container{
        background-color: rgb(253,247,232);
        width:100%;
        height:1300px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .my-form{
       min-width: 350px;
        height:auto;
        margin: auto;
    }
    .chart{
        display:none;
    }
  }
  @media screen and (min-width:601px) and (max-width:980px){
    .form-container{
        background-color:rgb(253,247,232);
        width:100%;
        height:1400px;
        margin: auto;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .my-form{
        min-width:601px;
        height:auto;
        margin: auto;
    }
    .chart{
        display: none;
    }
  }
  @media screen and (min-width:981px) and (max-width:1200){
    .form-container{
        background-color:rgb(253,247,232);
        width:100%;
        height:1400px;
        margin: auto;
    }
    .my-form{
        min-width:601px;
        height:auto;
        margin: auto;
    }
    .chart{
        min-width:auto;
        height: auto;
        margin: auto;
    }
  }
  @media screen and (min-width:1201){
    .form-container{
                    background-color:rgb(253,247,232);
                    width:100%;
                    height:1400px;
                    margin: 0 auto;
  }
}
@media (any-pointer:fine){
    #terms:checked {
        width:15px;
        height:15px;
        background:green;
    }
}